<!DOCTYPE HTML>
<html>
<head>
    <title>스프링부트 웹서비스</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<!--css가 header에 있어야 하는 이유, js가 footer에 있어야 하는 이유는
html의 경우 header가 로딩이 다 되어야 화면이 표출되는데, js의 경우 무겁고 이미지 표현과는 후차 관계이니
css가 이미지를 가장 먼저 표출해주면서 화면이 표출되기 위해 필수인 header에 css를 두어야, 로딩이 빨리 이루어진다.
그렇지 않으면 화면이 깨진 html을 볼 것이다.-->